.footer {
    height: 30vh;
    width: 100%;
    background-color: $light-pink;
    color:black;
    text-align: center;
    display: flex ;
    justify-content: space-around;
    align-items: center;
 }
