.shelf{
    margin:$m-size auto $m-size auto;
    height: 100vh;
    width: 80%;
}
.shelf__layer{
    height: 50%;
    width: 100%;
    margin-top:$m-size;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.shopItem{
    transition: 200ms ;
    height: 100%;
    width:23%;
    background:$light-green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color:darken($color: $light-green, $amount: 70%)
}
.shopItem:hover{
    transition: 200ms ;
    height: 100%;
    width:23%;
    color:$light-green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    background:darken($color: $light-green, $amount: 70%)
}
