$m-size:2rem;
$l-size:10srem;
$white:#f2f2f2;
$dark-blue: #330099;
$pink: #ddccff;
$mellow-red: #ff4d4d;
$dark-orange: #ff6600;
$light-green: #80ff80;
$yellow : #e6e600;
$blue-cherk:#669999;
$purple : #990099;
$light-pink: #ffb3b3;
$black :  #282525;
